<script setup>
import { ref } from 'vue'

// Define the props
defineProps({
    placeholder: {
    type: String,
    required: false,
  },
})

// Define the emit for the added item
let emit = defineEmits(['submitAddItem'])

/**
 * Input reference for the input
 */
const input = ref(null)

/**
 * Model binding for the input
 */
const inputName = ref(null)

/**
 * Save the item, empty the input and focus it
 */
const saveItem = () => {
    emit('submitAddItem', inputName.value)
    inputName.value = ""
    input.value.focus()
}

</script>

<template>
    <form @submit.prevent>
        <input 
            type="text" 
            :placeholder="placeholder"
            v-model="inputName"
            ref="input"
        >
        
        <button @click="saveItem">+</button>
    </form> 
</template>

<style scoped>
input {
    border: 1px solid var(--color-background-input);
    height: 26px;
    vertical-align: bottom;
    background-color: var(--color-background-input);
    color: var(--color-text-input);
    padding: 4px 12px;
    font-size: 18px;
}

input:focus {
    outline: none;
}

button {
    border: 1px solid var(--color-background-input);
    border-left: none;
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;
    background-color: var(--color-background-button);
    color: var(--color-text-button);
    font-size: 20px;
    height: 36px;
    vertical-align: bottom;
}

button:hover {
    background-color: var(--color-background-button-hover);
}
</style>