<script setup>
import { ref, nextTick, watch } from 'vue'
import { updateShoppingItem, deleteShoppingItem } from '../resources/api'
import DeleteIcon  from './Icons/DeleteIcon.vue'
import SaveIcon from './Icons/SaveIcon.vue'
import EditIcon from './Icons/EditIcon.vue'

/**
 * Props
 */
const props = defineProps({
    id: {
        type: Number,
        required: false,
    },
    name: {
        type: String,
        required: true
    }
})

/**
 * Input reference for the input
 */
const input = ref(null)

/**
 * Model binding for the input
 */
const inputName = ref(props.name)

/**
 * Used to check if the input has been changed
 */
const hasChanged = ref(false)

/**
 * Control the inputs disable/enable state
 */
const isDisabled = ref(true)

/**
 * Emits
 */
let emit = defineEmits(['updateItem', 'deleteItem'])

/**
 * Edit the item
 */
async function editItem() {
    isDisabled.value = false

    // Wait for the input to be enabled
    await nextTick()
    input.value.focus()
}

/**
 * Disable the input and update the item via the API, then emit the action
 */
async function updateItem() {
    isDisabled.value = true
    hasChanged.value = false

    await updateShoppingItem(props.id, inputName.value)
        .then(() => {
            emit('updateItem')
        })
}

/**
 * Delete the item and emit the action
 */
async function deleteItem() {
    isDisabled.value = true
    hasChanged.value = false

    await deleteShoppingItem(props.id)
        .then(() => {
            emit('deleteItem')
        })
}

// Watch if the input text has been changed, then show the save button.
watch(inputName, async () => {
    hasChanged.value = true
});

</script>

<template>
    <div class="list-item__container">
        <form @submit.prevent>
            <input 
                type="text" 
                v-model="inputName" 
                :disabled="isDisabled"
                v-on:focusout="(isDisabled = true)"
                ref="input"
            >
            <button 
                @click="editItem"
                class="button__edit"
            >
                <EditIcon />
            </button>
            <button 
                @click="deleteItem"
                class="button__delete"
                
            >
                <DeleteIcon />
            </button>
            
            <button 
                v-if="hasChanged"
                @click="updateItem"
                class="button__save"
                
            >
                <SaveIcon />
            </button>
        </form>
    </div>
</template>

<style scoped>
.list-item__container {
    margin-bottom: 0.5rem;
}

input {
    background: none;
    border: 1px solid var(--color-background-input);
    border-right: none;
    color: var(--color-text);
    font-size: 18px;
    padding: 4px 12px;
    height: 26px;
    vertical-align: bottom;
}

input:focus {
    background-color: var(--color-background-input);
    color: var(--color-input);
    outline: none;
}
input:hover {
    background-color: var(--color-background-input);
}

button {
    border: 1px solid var(--color-background-input);
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;
    background-color: var(--color-background-button);
    color: var(--color-text-button);
    font-size: 20px;
    height: 36px;
    vertical-align: bottom;
}

button:hover {
    background-color: var(--color-background-button-hover);
}

.button_edit {
    border-left: none;
}

.button__save {
    margin-left: 0.5rem;
    background-color: var(--color-background-button-save);
}

.button__delete {
    margin-left: 0.5rem;
    background-color: var(--color-background-button-delete);
}

button svg {
    height: 14px;
    fill: var(--color-text-button);
}

</style>