/* Base color palette  */
:root {
  --white: #ffffff;
  --black: #000;
  --dark-grey: #2c3639;
  --grey: #3f4e4f;
  --light-grey: #dcd7c9;
  --brown: #a27b5c;
  --brown-transparent: #a27b5c83;
  --red: #8b0000;
  --green: #2c4c3b;
}

/* Semantic color variables for this project */
:root {
  --color-background: var(--grey);

  --color-border: var(--light-grey);
  --color-heading: var(--light-grey);
  --color-text: var(--white);

  --color-background-button: var(--brown);
  --color-background-button-save: var(--green);
  --color-background-button-delete: var(--red);

  --color-text-button: var(--white);
  --color-background-button-hover: var(--brown-transparent);

  --color-background-input: var(--dark-grey);
  --color-text-input: var(--white);

  --color-border: var(--white);

}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
