@import './base.css';

.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
    flex: 1;
    padding: 2rem;
    text-align: center;
    border-right: 1px solid var(--color-border);
}

.column:last-child {
  border: none; 
}

main {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}