<script setup>
import { ref, reactive, onMounted, nextTick } from 'vue'
import AddItem from '../components/AddItem.vue'
import ListItem from '../components/ListItem.vue'
import { getShoppingLists, createShoppingList, createShoppingItem } from '../resources/api'

/**
 * Array of all shopping lists
 */
const shoppingLists = ref([])

/**
 * Currently active shopping list
 */

const activeShoppingList = ref({name: null, shoppingLists: []})

/**
 *  Model binding for the Select ID 
 */
const selectedList = ref("")

/**
 * Add a new shopping list
 * 
 * @param {String} shoppingListName 
 */
const addShoppingList = (shoppingListName) => {
    createShoppingList(shoppingListName)
    .then(data => {
        shoppingLists.value.push(data)
        selectedList.value = data.id
        showShoppingList()
    });
}

/**
 * Add a new Shopping item to the current list
 * 
 * @param {String} shoppingItemName 
 */
const addShoppingItem = (shoppingItemName) => {
    createShoppingItem(shoppingItemName, activeShoppingList.value.id)
    .then(data => {
        refreshData()
    })
}

/**
 * Find and show the selected Shopping list
 */
const showShoppingList = () => {
    const shoppingList = shoppingLists.value.find(obj => {
        return obj.id === selectedList.value
    })
  
    activeShoppingList.value = shoppingList
}

/**
 * Refresh the data by fetching the shopping lists API
 */
async function refreshData() {
    await getShoppingLists()
    .then(data => {
        shoppingLists.value = data
        showShoppingList()
    })
}

onMounted(async () => {
    // Load all shopping list when the view is loaded
    await getShoppingLists()
    .then(data => {
        shoppingLists.value = data
    })
})

</script>

<template>
    <main>
        <div class="list__container">
            <h1>Shopping list</h1>

            <AddItem 
                :placeholder="'Create a new list'" 
                @submit-add-item="addShoppingList"
                class="add-item"
            />

            <select v-model="selectedList" :onChange="showShoppingList">
                <option value="" disabled>Select list</option>
                <option v-for="shoppingList in shoppingLists" :value="shoppingList.id">{{ shoppingList.name }}</option>
            </select>

            <template v-if="activeShoppingList.name">
                <h2>{{ activeShoppingList.name || "Shopping list items"}}</h2>
                
                <AddItem 
                    :placeholder="'Add shopping item'"
                    @submit-add-item="addShoppingItem"
                    class="add-item"
                />
                
                <div v-for="item in activeShoppingList.shopping_items" :key="item.id">
                    <ListItem
                        :name="item.name"
                        :id="item.id"
                        @update-item="refreshData"
                        @delete-item="refreshData"
                    />
                </div>
            </template>
        </div>
    </main>
</template>

<style scoped>

.list__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    padding: 2rem;
    
}

select {
    background-color: var(--color-background-input);
    color: var(--color-input);
    border: 1px solid var(--color-background-input);
    border-right: none;
    color: var(--color-text);
    font-size: 18px;
    padding: 4px 12px;
    height: 36px;
    width: 281px;
}

.add-item {
    margin-bottom: 1.5rem;
}




</style>